<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flowbite Flask</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
  </head>
  <body class="bg-gray-50">
    <!-- Contenedor fijo para mensajes flash -->
    <div id="flash-messages">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="mb-2 p-3 rounded text-white {% if category == 'success' %} bg-cyan-700 {% elif category == 'warning' %} bg-yellow-500 {% elif category == 'danger' %} bg-red-500 {% else %} bg-blue-500 {% endif %}"
      >
        {{ message }}
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </div>

    <!-- Contenedor principal (centra el contenido) -->
    <div class="flex items-center justify-center min-h-screen">
      {% block container %}{% endblock %}
    </div>

    <!-- Flowbite JS -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>


    <!-- Script para ocultar mensajes flash  3s -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
          const flashContainer = document.getElementById("flash-messages");
          if (flashContainer) {
            flashContainer.style.display = "none";
          }
        }, 3000); // 3 segundos
      });
    </script>
  </body>
</html>
